/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-09-2018, 15:02:55
    Author     : IP-ROUTE
*/
.borde{
    -fx-border-color: black;
    -fx-border-radius: 2px;
}

.boton{
    
	
	-fx-animated: false;
	-fx-background-color: #e6e9ed;
	
	-fx-border-color: #ccdcdc; 
	-fx-border-style: solid;
	-fx-border-width: 1px ;
	-fx-display-caret: false;
	-fx-cursor:default;
	
	-fx-padding:6px;
	
}
.boton:hover {
	-fx-background-color:#f6f6f6;
}
.boton:active {
        
        -fx-background-color:#f4f4f4;

}

